@use "global" as *;
body {
    background-color: #303131;
}

.game {
    h1 {
        color: $turquoise;
        padding-top: 229px;
        padding-bottom: 33px;
        font-size: 140px;
        margin: 0;
    }

    h2 {
        color: $white;
    }

    span {
        color: $white;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 39px 90px;
    }

    &__players {
        display: flex;
        gap: 30px;
        background-color: $player-bg;
        width: 256px;
        height: 45px;
        align-items: center;
        justify-content: center;
    }

    &__player {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__current-player {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 30px;
            height: 30px;
        }
    }
}

.game__players {
    .game__player:nth-child(1) {
        span {
            color: $blue;
        }
    }

    .game__player:nth-child(2) {
        span {
            color: $orange;
        }
    }
}

.game__board {
    display: grid;
    gap: 10px;
    width: 420px;
    margin: 15px auto 0;
    justify-content: center;
}

.game__card {
    width: 120px;
    height: 120px;
}

.game__exit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: $player-bg;
    border: 2px solid $turquoise;
    width: 140px;
    height: 45px;
}

.game__card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.game__card.flipped .game__card-inner {
    transform: rotateY(180deg);
}

.game__card-front,
.game__card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: $white;
    cursor: pointer;
}

.game__card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.game__card-front img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.game__card-back {
    background-image: url("./card.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.game__game-over {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .game__players {
        background-color: $player-bg;
        padding: 14px 16px;
    }
}

.game__quit-modal {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

.game__quit-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $white;
    width: 387px;
    height: 175px;
    padding: 16px 16px;

    h2 {
        color: black;
    }
}

.game__quit-modal-buttons {
    display: flex;
    gap: 20px;
}

.game__quit-back,
.game__quit-confirm {
    cursor: pointer;
    border: 2px solid $turquoise;
    width: 120px;
    height: 40px;
    font-size: 16px;
    white-space: nowrap;
}

.game__quit-confirm {
    color: $turquoise;
}

.game__quit-back {
    background-color: $turquoise;
    color: $white;
}

.game__next-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;

    .game__confetti {
        width: 100%;
        max-width: 1239px;
        height: auto;
    }

    h2 {
        color: $white;
        margin: 20px 0 10px;
    }

    #winner-player {
        color: $turquoise;
        font-size: 90px;
        margin: 0 0 15px;
    }

    #winner-player-icon {
        width: 210px;
        height: 210px;
        margin-bottom: 25px;
    }

    .game__back-to-start {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 12px 24px;
        color: $white;
        text-decoration: none;
        background-color: $player-bg;
        border: 2px solid $turquoise;
    }
}

.game__next-screen.show {
    display: flex;
    animation: slideDown 0.8s ease-out;
}

.game__next-screen.draw {
    padding-top: 200px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.game__next-screen #winner-player.blue {
    color: $blue;
}

.game__next-screen #winner-player.orange {
    color: $orange;
}

.game__header.cards-36 {
    padding-top: 4px;
}

.game__next-screen.draw #winner-title {
    position: relative;
    top: 30px;
}

.game__next-screen.draw #winner-player-icon {
    width: 240px;
    height: 240px;
}

.game__next-screen.draw #winner-player {
    margin: 0 0 -5px;
}

// gaming-theme
body.gaming-theme {
    background-color: #294F60;

    .game__header {
        background-color: #535D75;
        margin: 48px 70px 0;
        padding: 15px 70px;
        border-radius: 10px;

        &.cards-36 {
            margin-top: 4px;
        }

        .game__players {
            .game__player {
                span:nth-child(2) {
                    display: none;
                }
            }
        }
    }

    .game__exit {
        border: 2px solid #E71C4F;
        background-color: transparent;
        border-radius: 10px;
    }

    .game__players {
        background-color: $white;
        border-radius: 10px;
        width: 160px;
        height: 50px;

        span {
            font-size: 26px;
        }
    }

    .game__game-over {
        .game__players {
            width: 142px;
            height: 29px;
            justify-content: space-between;
        }

        .game__player {
            span:nth-child(2) {
                display: none;
            }
        }

        h1 {
            color: $pink;
        }
    }

    .game__card-back {
        background-image: url("./gaming_theme_card.svg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border-radius: 10px;
        box-sizing: border-box;
        width: 105px;
        height: 120px;
    }

    .game__quit-back {
        background-color: $pink;
        border: none;
        text-decoration: none;
        white-space: nowrap;
        width: 160px;
        border-radius: 10px;
    }

    .game__quit-confirm {
        color: $pink;
        border: 2px solid $pink;
        white-space: nowrap;
        width: 160px;
        border-radius: 10px;
    }

    .game__current-player {
        font-size: 30px;
        align-items: flex-end;
    }

    .game__board {
        margin-top: 48px;
    }

    .game__card {
        width: 105px;
        height: 120px;
    }

    .game__card-front {
        border-radius: 10px;
    }

    .game__next-screen {
        &.show {
            padding-top: 200px;
        }

        #winner-player {
            padding-bottom: 46px;
        }

        #winner-player-icon {
            width: 310px;
            height: 310px;
        }

        .game__back-to-start {
            background-color: #394B62;
            border: 2px solid $pink;
            border-radius: 10px;
        }

        &.draw {
            #winner-player {
                color: $pink;
                padding-bottom: 0;
                margin: 0 0 -20px;
                font-size: 140px;
            }
        }
    }

    .game__quit-modal-content {
        border-radius: 10px;
    }
}

@media (min-width: $widescreen) {
    .game {
        width: 1200px;
        margin-inline: auto;
    }
}