.game {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__players {
        display: flex;
        gap: 30px;
    }

    &__player {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__current-player {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    &__exit {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}