@font-face {
    font-family: "RedRose";
    src: url("./fonts/RedRose-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "RedRose", sans-serif;
}

button {
  font-family: "RedRose", sans-serif;
}