@font-face {
  font-family: "RedRose";
  src: url("./fonts/RedRose-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "RedRose", sans-serif;
}

body.gaming-theme {
  font-family: "Orbitron", sans-serif;
}

button {
  font-family: inherit;
}

// _colors
$white: #FFFFFF;
$turquoise: #4DD5BC;
$player-bg: #415652;
$blue: #2BB1FF;
$orange: #F58E39;
$pink: #ED1B76;
$yellow: #F0EA6E;