.settings {
    margin-left: 262px;
    margin-top: 185px;

    &__header {
        margin-bottom: 40px;
        position: relative;

        h1 {
            margin: 0;
            font-size: 32px;
            position: relative;
            padding-bottom: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 123px;
            height: 2px;
            background-color: #F0EA6E;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 10px;
            height: 10px;
            background-color: #F0EA6E;
            transform: rotate(45deg);
        }

    }


    &__group {
        margin-bottom: 30px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5px;
        position: relative;

        h2 {
            margin: 0;
            font-size: 20px;
        }
    }

    &__title-left {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    &__theme-image {
        width: 400px;
        height: auto;
        position: absolute;
        left: 483px;
        top: 19px;
    }

    &__option {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0;
        padding: 6px 16px;
        cursor: pointer;
        padding-left: 41px;
    }

    &__radio {
        width: 10px;
        height: 10px;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        flex-shrink: 0;
    }

    &__theme-options {
        display: flex;
        align-items: center;
        justify-content: end;
        position: absolute;
        gap: 10px;
        top: 399px;
        right: 224px;
        background-color: #F6F6F6;
        width: 480px;
    }

    &__divider {
        width: 6px;
        height: 30px;
        background-color: #F0EA6E;
        transform: rotate(20deg);
    }

    .start-button {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #F0EA6E;
        width: 110px;
        height: 34px;
        font-family: "Fredoka";

        img {
            width: 20px;
            height: 20px;
        }

        span {
            font-family: inherit;
        }
    }

}

@font-face {
    font-family: "Fredoka";
    src: url("./fonts/Fredoka-Regular.ttf") format("woff2");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Fredoka", sans-serif;
}