body {
    background-color: #303131;
}

.content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 270px;
}

h1 {
    font-size: 48px;
    color: white;
    margin: 0;
    text-align: left;
}

.subtitle {
    font-size: 140px;
    color: white;
    margin: 0;
    text-align: left;
}

.header-title {
    text-align: left;
}

.start_button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    text-decoration: none;
    background-color: #F0EA6E;
    padding: 20px 20px;
    margin-top: 80px;
    transition:
        width 0.3s ease,
        transform 0.2s ease;

    &:hover {
        width: 270px;
        transform: translateY(-2px);
    }

    img {
        width: 50px;
        height: 50px;
        transition: transform 0.2s ease;
    }

    span {
        color: black;
        font-size: 40px;
    }

    &:hover img:first-child {
        transform: rotate(-30deg);
    }

    &:hover img:last-child {
        transform: scale(1.2);
    }
}

.controller-icon {
  margin-top: -155px;
}