body {
    background-color: #2F3131  ;
}
h1 {
    padding-top: 233px;
    font-size: 48px;
    color: white;
}

h2 {
    font-size: 140px;
    color: white;
    margin: 0;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.header-title button {
  align-self: center;
  margin-top: 2rem;
}

button {
      border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}