@font-face {
    font-family: "Fredoka";
    src: url("./fonts/Fredoka-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Fredoka", sans-serif;
    background-color: #2F3131;
}

h1 {
    font-size: 48px;
    color: white;
}

h2 {
    font-size: 140px;
    color: white;
    margin: 0;
}

.header-title {
    transform: translateY(233px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.header-title button {
    align-self: center;
    margin-top: 2rem;
}

button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.controller_icon {
    position: relative;
    top: 100px;
}